
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/style.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="~/Scripts/app/app.js"></script>
<div ng-app="myApp" ng-controller="myCtrl">
    <h1>
        <strong>My Reviews</strong>
    </h1>
    <div class="container" ng-repeat="x in Data">
        <div class="row" ng-if="$even">
            <div class="col-sm-4">
                <a href="" class="tile {{Data[$index].color}}">
                    <h3 class="title">{{Data[$index].name}}</h3>
                    <p>Review Date:{{Data[$index].reviewDate}}</p>
                </a>
            </div>
            <div class="col-sm-4" ng-if="Data[$index+1]">
                <a href="" class="tile {{Data[$index+1].color}}">
                    <h3 class="title">{{Data[$index+1].name}}</h3>
                    <p>Review Date:{{Data[$index+1].reviewDate}}</p>
                </a>
            </div>
        </div>
    </div>
</div>
